<app-navbar></app-navbar>
<div class="container" style="display: flex">
  <app-sidebar></app-sidebar>
  <section>
    <div class="contenedor">
      <div class="contenedor_formulario">
        <h1 class="is-size-1">Compartir información entre componentens</h1>
        <form [formGroup]="archivoForm">
          <div class="file has-name is-boxed">
            <label class="file-label">
              <input
                class="file-input"
                type="file"
                formControlName="archivo"
                (change)="chooseFile($event)"
              />
            </label>
          </div>
          <hr />
          <ng-container *ngIf="isLoading">
            <span>loading...</span>
          </ng-container>
          <button [disabled]="isLoading">Subir archivo</button>
          <div *ngIf="filePath && filePath !== ''">
            <img [src]="filePath" width="100" height="100" />
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
